@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    max-width: 100%;

}




.display {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Comfortaa', cursive;
}

display2{
	display: flex;
    justify-content: center;
}

.blocos{
    box-shadow: 0px 0px 2em 0px rgb(50 50 50 / 53%);
    padding: 0px;
    border-radius: 10px;
}

.bloco1{
    background-color: rgb(230, 136, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    color: #fff;
    border-radius: 10px 0px 0px 10px;

}

.bloco2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
}

.bloco2 input{
    background-color: rgba(50, 50, 50, 0.11);
    border: none;
    border-radius: 3px;
}

.bloco2 button{
    width: 65%;
    height: 18%;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45f562;
    border: none;
    font-size: 17px;
    border-radius: 20px;

}

.bloco2 button:hover{
    background-color: #3ace53;
}

.bloco2 p a{
	color: grey;
	text-decoration: underline;
}


@media (max-width: 1198px){
	.bloco1{
		height: 20%;
	    border-radius: 10px 10px 0px 0px;
	    box-shadow: none;
	}
	
	.bloco1 img{
		display: none;
	}
	
	.bloco1 h3{
		font-weight: bold;
	}
	
	.bloco2{
		box-shadow: none;
    	border-radius: 0px 0px 10px 10px;
	}
	
	.blocos{
		box-shadow: 0px 0px 2em 0px rgb(50 50 50 / 53%);
		border-radius: 10px;
		height: 530px;
	}
	
	.bloco2 h2{
		margin-right: 21px;
	}
	
	.bloco2 button{
		margin-left: 64px;
		font-weight: bold;
		font-size: 22px;
	}
	
	.formLogin {
		font-size: 22px;
	}
	
	.formLogin input{
		font-size: 22px;
	}
	
	.display {
	    margin-top: 7%;
	}
}

@media (max-width: 425px){
	
	.bloco2 button {
	    margin-left: 55px;
	}
	
	.bloco1 h3 {
    	font-weight: bold;
    	font-size: 21px;
	}
	
		.display {
	    	margin-top: 3%;
	}
	
}